.sticky-footer {
    position: sticky;
    top: 100%;
}
footer {
    width: 100%;
    background-color: #222831;
    
    display: grid;
    place-items: center;
    padding: 2em;
    font-size: 1.2rem;
}